.generate {
  height: 60px;
  border: thin solid transparent;
  outline: none;
  background-color: var(--def-color);
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.generate:hover {
  background-color: transparent;
  border: thin solid var(--def-color);
  color: var(--def-color);
}

.icon {
  transition: all 0.5s;
}

.generate:hover .icon {
  transform: translateX(10px) rotate(360deg);
}

@media screen and (max-width: 500px) {
  .generate {
    height: 40px;
  }
}
